networks:
  default:
    external:
      name: dev-infras

volumes:
  rabbitmq_data:

services:
  rabbitmq:
    build: .
    container_name: rabbitmq
    restart: unless-stopped
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia
    ports:
      - '${RABBITMQ_AMQP_PORT}:5672'
      - '${RABBITMQ_MANAGEMENT_PORT}:15672'
      - '${RABBITMQ_WEB_STOM_PORT}:15674'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.rabbitmq.rule=Host(`rabbitmq.fbi.com`)'
      - 'traefik.http.routers.rabbitmq.entrypoints=websecure'
      - 'traefik.http.routers.rabbitmq.service=rabbitmq'
      - 'traefik.http.services.rabbitmq.loadbalancer.server.port=15672'
      - 'traefik.http.routers.rabbitmq.tls=true'
      - 'traefik.http.routers.rabbitmq-stomp.rule=Host(`stomp.rabbitmq.fbi.com`)'
      - 'traefik.http.routers.rabbitmq-stomp.entrypoints=websecure'
      - 'traefik.http.routers.rabbitmq-stomp.service=rabbitmq-stomp-ws'
      - 'traefik.http.routers.rabbitmq-stomp.tls=true'
      - 'traefik.http.services.rabbitmq-stomp-ws.loadbalancer.server.port=15674'
    healthcheck:
      test: ['CMD-SHELL', 'rabbitmq-diagnostics status || exit 1']
      interval: 30s
      timeout: 5s
      retries: 30
