networks:
  default:
    external:
      name: dev-infras

volumes:
  esdb-data:

services:
  eventstore:
    build: .
    container_name: eventstore
    restart: unless-stopped
    ports:
      - '${ESDB_HTTP_PORT}:2113' # HTTP API and Web UI
    environment:
      EVENTSTORE_CLUSTER_SIZE: 1
      EVENTSTORE_RUN_PROJECTIONS: All
      EVENTSTORE_START_STANDARD_PROJECTIONS: 'true'
      EVENTSTORE_HTTP_PORT: 2113
      EVENTSTORE_INSECURE: 'true' # For development only
      EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP: 'true'
    volumes:
      - esdb-data:/var/lib/eventstore
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.eventstore.rule=Host(`events.fbi.com`)'
      - 'traefik.http.routers.eventstore.entrypoints=websecure'
      - 'traefik.http.routers.eventstore.service=eventstore'
      - 'traefik.http.services.eventstore.loadbalancer.server.port=2113'
      - 'traefik.http.routers.eventstore.tls=true'
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:2113/health/live || exit 1']
      interval: 30s
      timeout: 5s
      retries: 30
