name: Analysis

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
  merge_group:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: read
  security-events: write

jobs:
  codeql:
    name: CodeQL Runner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Initialize CodeQL
        uses: github/codeql-action/init@014f16e7ab1402f30e7c3329d33797e7948572db # v4
        with:
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@014f16e7ab1402f30e7c3329d33797e7948572db # v4
